<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Transformers</title>
</head>
<body>
    <div class="container">

        <header>
            <h1>Transformers</h1>
            <p>Coversor de Ordens de Produção em planilhas de Rasteabilidade</p>
        </header>

        <main></main>

            <form 
            action = "/"
            method = "POST"
            enctype = "multipart/form-data">

            <input
            type = "file"
            name = "pdf"
            placeholder = "Selecione um arquivo PDF">

            <button type = "submit">    
                Enviar
            </button>

            {% if erro %}
                <p> ❌ {{erro}}</p>
            {% endif %}

            </form>

        </main>

        <footer>
            Versão 1.0 - LUARI EMBALAGENS - PACKAGING SOLUTIONS
        </footer>

    </div>
</body>
</html>