<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Transformers</title>
</head>
<body>
    <div class="container">

        <header>

            <div class="cabecalho_superior">
                <div class="Logo">
                <figure>
                <img src="static/assets/luari_logo.png" alt="logo da empresa">
                </figure>
            </div>

            <h1>TRANSFORMERS</h1>
            </div>

                <p class="descricao">
                    Converta automaticamente Ordens de Produção <br>
                    em planilhas de rasteabilidade
                </p>
            
        </header>

        <main>

            <form 
            action = "/"
            method = "POST"
            enctype = "multipart/form-data">

            <input
            type = "file"
            name = "pdf"
            placeholder = "Selecione a Ordem de Produção (PDF)">

            <button type = "submit">    
                Converter Ordem de Produção
            </button>

            <!-- <label for="linkinput">URL do site: </label>
            
            <input type = "url"
                    id = "linkInput"
                    required> -->

            <div class="error">
                
            {% if erro %}
                <p> ❌ {{erro}}</p>
            {% endif %}

            </div>


            </form>

        </main>

        <footer>

            <div class="rodape">
                <p>
                Versão 1.0 -
                LUARI EMBALAGENS - PACKAGING SOLUTIONS
                </p>
            </div>
        </footer>

    </div>
</body>
</html>